Repository Ohtuilmo/ohtuilmo, pull requests merged in 2024-01, with the labels that each got.

#30 Simplify setting up local environment
  backend/config/sequelize.json
  backend/controllers/login.js
  backend/utils/index.js
  docker-compose.yml
  frontend/package.json
Labels: frontend, backend

#32 Change database migration column names to snake_case
  backend/migrations/20190118105525-base.js
  backend/migrations/20190125184855-registration_managements.js
  backend/migrations/20190131082251-new-group-management.js
  backend/migrations/20190221115330-peer_review.js
  backend/migrations/20190228121538-fix-peer-reviews.js
  backend/migrations/20190411105222-customer-review-tables.js
  backend/migrations/20190418142830-instructor_review.js
  backend/seeders/20190221035516-page-access-seeds.js
  backend/seeders/20190226153149-group-management-seeds.js
  backend/seeders/20190424111842-topic-for-active-tests.js
  frontend/package.json
Labels: backend, db

#34 Use mock headers for dev environment
  backend/controllers/login.js
  backend/index.js
  backend/middleware.js
Labels: backend

#38 Status badges for Cypress and GHA added to the README.md
  README.md
  backend/controllers/reviewQuestionSets.js
Labels: project management, ci pipeline

#50 Add subtitles for navigationbar menuitems
  backend/.gitignore
  backend/middleware.js
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/common/MenuItemLists.js
  frontend/src/components/common/NavigationBar.js
  frontend/src/components/common/NavigationMenu.js
Labels: frontend

#52 Topic-page select menu: new content first
  backend/.gitignore
  backend/middleware.js
  frontend/src/components/TopicListPage.js
Labels: frontend
