Repository Ohtuilmo/ohtuilmo, pull requests merged in 2024-03, with the labels that each got.

#115 Add Sprint Dashboard styles
  frontend/src/components/SprintsPage/SprintsDashboard.css
  frontend/src/components/SprintsPage/SprintsDashboard.js
Labels: frontend

#177 Fix `renders-peerreview-when-visited` test
  backend/index.js
  frontend/.eslintrc.js
  frontend/e2e/cypress/integration/pageAccess.spec.js
  frontend/src/App.js
Labels: frontend

#178 Revert App.js try-catch block as it was breaking tests
  frontend/package.json
  frontend/src/App.js
Labels: frontend

#117 Topic filtering by acceptance status
  backend/package-lock.json
  frontend/.eslintrc.js
  frontend/e2e/cypress/integration/topicListPage.spec.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TopicListPage.css
  frontend/src/components/TopicListPage.js
  frontend/src/components/common/Placeholders.js
  frontend/src/index.js
  frontend/src/reducers/actions/topicListPageActions.js
  frontend/src/reducers/topicListPageReducer.js
  frontend/src/utils/configurationMapper.js
  package-lock.json
Labels: frontend, enhancement

#1 Setup GitHub Actions
  .github/workflows/staging.yaml
  .github/workflows/test.yaml
  README.md
  backend/Dockerfile
  backend/config/sequelize.js
  backend/models/index.js
  backend/package.json
  compose.ci.yaml
  docker-compose.yml
  frontend/.eslintignore
  frontend/Dockerfile
  frontend/cypress.json
  frontend/e2e/nginx.e2e.conf
  frontend/package.json
Labels: ci pipeline

#187 debugging potentially flaky test
  backend/package-lock.json
  frontend/cypress.json
  frontend/e2e/cypress/integration/topicListPage.spec.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, bug

#186 Fix/refactor loading handling, add isCustomerReviewPage() check to App.js
  frontend/e2e/cypress/integration/setPeerReview.spec.js
  frontend/src/App.js
  frontend/src/components/ConfigurationPage.js
  frontend/src/components/LoginPage.js
  frontend/src/components/RegistrationManagementPage/RegistrationManagementPage.js
  frontend/src/components/RegistrationPage.js
  frontend/src/components/SprintsPage/SprintsDashboard.js
  frontend/src/components/TimeLogsPage/TimeLogsPage.js
  frontend/src/components/ViewUsersPage/ViewUsersPage.js
Labels: frontend

#195 Select current sprint by default in TimeLogsPage, Disable TimeLogForm for non-current sprints
  frontend/src/components/TimeLogsPage/TimeLogForm.js
  frontend/src/components/TimeLogsPage/TimeLogsPage.js
Labels: frontend

#214 Show only added sprints in time log page Sprint Selector
  frontend/src/components/TimeLogsPage/TimeLogsPage.js
Labels: frontend

#219 Remove unnecessary import-scripts and their dependencies
  backend/package.json
  backend/scripts/importSprints.py
  backend/scripts/importTimeLogs.py
  backend/scripts/sprints.csv
  backend/scripts/timelogs.csv
Labels: task

#218 Feature/update seeders
  backend/config/sequelize.js
  backend/middleware.js
  backend/package.json
  backend/seed-old.sh
  backend/seeders/20240319112824-add-new-users-and-topics.js
  backend/seeders/20240319143908-add-review-question-set.js
  backend/seeders/20240321073516-add-new-sprints-and-timelogs.js
  frontend/e2e/cypress/integration/topicListPage.spec.js
Labels: task, backend, db

#216 More sprint validation for backend
  backend/controllers/sprints.js
Labels: backend

#222 Fix: clicking previous sprint selects the first sprint
  frontend/src/components/TimeLogsPage/TimeLogsPage.js
Labels: frontend

#227 Fix type error in NavigationBar, hide group from NavigationBar in small screens
  frontend/src/components/common/NavigationBar.css
  frontend/src/components/common/NavigationBar.js
Labels: frontend, bug

#229 Fix issue causing topic pages to crash
  frontend/src/components/TimeLogsPage/TimeLogsPage.css
  frontend/src/components/ViewTopicPage.js
Labels: frontend
