Repository Ohtuilmo/ohtuilmo, pull requests merged in 2024-02, with the labels that each got.

#62 Add new navigation links under admin-user
  frontend/src/components/common/MenuItemLists.js
  frontend/src/components/common/NavigationBar.js
Labels: frontend

#74 reversed configurations via global state
  frontend/src/App.js
  frontend/src/components/ConfigurationPage.js
  frontend/src/components/GroupManagementPage/GroupManagementPage.js
  frontend/src/components/RegistrationManagementPage/PeerReviewSettings.js
  frontend/src/components/RegistrationManagementPage/ProjectRegistrationSettings.js
  frontend/src/components/RegistrationManagementPage/RegistrationManagementPage.js
  frontend/src/components/RegistrationManagementPage/TopicRegistrationSettings.js
  frontend/src/components/TopicListPage.js
  frontend/src/reducers/actions/configurationPageActions.js
Labels: frontend, enhancement

#80 Fix: wrong content rendered as default in Topics page
  frontend/src/components/TopicListPage.js
Labels: frontend

#99 Feature/45 admin view user list
  frontend/src/App.js
  frontend/src/components/LoginPage.js
  frontend/src/components/RegistrationPage.js
  frontend/src/components/UserDetails.js
  frontend/src/components/ViewTopicPage.js
  frontend/src/components/ViewUsersPage/ViewUsersPage.js
  frontend/src/components/common/MenuItemLists.js
  frontend/src/components/common/NavigationBar.js
  frontend/src/reducers/actions/userListActions.js
  frontend/src/reducers/loginReducer.js
  frontend/src/reducers/store.js
  frontend/src/reducers/userReducer.js
  frontend/src/services/groupManagement.js
  frontend/src/utils/functions.js
  frontend/src/utils/protectedRoutes.js
  frontend/src/utils/userMapper.js
Labels: user story, frontend, enhancement, new feature

#71 Time logging for students
  backend/controllers/sprints.js
  backend/controllers/timeLogs.js
  backend/index.js
  backend/middleware.js
  backend/migrations/20240214105000-time_log_sprint_tag_tables.js
  backend/models/index.js
  backend/models/sprint.js
  backend/models/tag.js
  backend/models/time_log.js
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/PeerReviewPage.js
  frontend/src/components/SprintsPage/SprintsDashboard.css
  frontend/src/components/SprintsPage/SprintsDashboard.js
  frontend/src/components/TimeLogsPage/SprintSelect.js
  frontend/src/components/TimeLogsPage/TimeLogForm.js
  frontend/src/components/TimeLogsPage/TimeLogRow.js
  frontend/src/components/TimeLogsPage/TimeLogsPage.css
  frontend/src/components/TimeLogsPage/TimeLogsPage.js
  frontend/src/components/common/MenuItemLists.js
  frontend/src/components/common/NavigationBar.css
  frontend/src/components/common/NavigationBar.js
  frontend/src/components/common/NavigationMenu.js
  frontend/src/components/common/Placeholders.js
  frontend/src/services/groupManagement.js
  frontend/src/services/sprints.js
  frontend/src/services/timeLogs.js
  frontend/src/utils/functions.js
Labels: frontend, backend, DO NOT MERGE, db

#55 Fix OpenShift configuration
  backend/.dockerignore
  backend/.sequelizerc
  backend/config/sequelize.js
  backend/config/sequelize.json
  backend/models/index.js
  backend/utils/index.js
  docker-compose.yml
  frontend/package.json
Labels: frontend, backend

#114 Fix App.js loginInterval
  frontend/src/App.js
Labels: frontend, bug
