Repository Ohtuilmo/ohtuilmo, pull requests merged in 2024-04, with the labels that each got.

#244 Prevent caching for login and logout
  backend/controllers/login.js
  backend/controllers/logout.js
Labels: bug

#256 Fix typeError in administration/users page
  frontend/src/utils/userMapper.js
Labels: bug

#260 Fix issues causing updating of configurations not to work
  backend/controllers/configurations.js
  backend/models/configuration.js
  backend/models/review_question_set.js
  frontend/e2e/cypress/integration/registrationQuestionsPage.spec.js
  frontend/e2e/cypress/integration/reviewQuestionsPage.spec.js
Labels: bug

#258 Instructor page group filter
  backend/seeders/20240319112824-add-new-users-and-topics.js
  frontend/e2e/cypress/integration/instructorPage.spec.js
  frontend/src/components/InstructorPage.css
  frontend/src/components/InstructorPage.jsx
  frontend/src/reducers/actions/instructorPageActions.js
  frontend/src/reducers/instructorPageReducer.js
Labels: user story, frontend, enhancement, backend

#253 Separate inputs for each team member in peer review
  backend/controllers/peerReview.js
  frontend/e2e/cypress/integration/instructorPage.spec.js
  frontend/e2e/cypress/integration/setPeerReview.spec.js
  frontend/src/components/InstructorPage/InstructorPage.jsx
  frontend/src/components/InstructorPage/StudentViewGroupAnswers.jsx
  frontend/src/components/PeerReviewPage.css
  frontend/src/components/PeerReviewPage.jsx
  frontend/src/components/QuestionSetForm.jsx
  frontend/src/reducers/actions/peerReviewPageActions.js
  frontend/src/reducers/peerReviewReducer.js
Labels: frontend, backend

#237 Bar chart visualizaation of work time on Time Logs -page
  .github/workflows/test.yaml
  backend/controllers/sprints.js
  backend/controllers/timeLogs.js
  backend/package-lock.json
  frontend/cypress.json
  frontend/e2e/cypress/integration/timeLogs.spec.js
  frontend/e2e/cypress/support/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/TimeLogsPage/TimeLogChart.jsx
  frontend/src/components/TimeLogsPage/TimeLogsPage.css
  frontend/src/components/TimeLogsPage/TimeLogsPage.jsx
  frontend/src/components/common/Placeholders.jsx
  frontend/src/hooks/useCheckMobileView.jsx
  frontend/src/reducers/actions/timeLogsActions.js
  frontend/src/reducers/appReducer.js
  frontend/src/reducers/store.js
  frontend/src/reducers/timeLogsReducer.js
  frontend/src/services/timeLogs.js
  frontend/src/utils/functions.js
Labels: frontend, enhancement

#279 fix SprintsDashboard sprint sorting and date format
  frontend/src/components/SprintsPage/SprintsDashboard.jsx
Labels: frontend

#275 Feature/tags to timelogs
  backend/controllers/tags.js
  frontend/src/components/TimeLogsPage/TimeLogForm.jsx
  frontend/src/components/TimeLogsPage/TimeLogRow.jsx
  frontend/src/components/TimeLogsPage/TimeLogsPage.css
  frontend/src/components/TimeLogsPage/TimeLogsPage.jsx
Labels: user story, frontend

#282 Enhance/281 timelogs charts hours
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/TimeLogsPage/TimeLogChart.jsx
Labels: frontend, enhancement

#280 Update TimeLogsPage styles & fix SprintSelect bugs: sprint 0 is not selectable, clicking next sprint selects sprint 10
  frontend/e2e/cypress/integration/timeLogs.spec.js
  frontend/src/components/TimeLogsPage/SprintSelect.jsx
  frontend/src/components/TimeLogsPage/TagSelect.jsx
  frontend/src/components/TimeLogsPage/TimeLogChart.jsx
  frontend/src/components/TimeLogsPage/TimeLogForm.jsx
  frontend/src/components/TimeLogsPage/TimeLogsPage.css
  frontend/src/components/TimeLogsPage/TimeLogsPage.jsx
  frontend/src/components/common/Placeholders.jsx
  frontend/src/reducers/timeLogsReducer.js
Labels: frontend

#286 enhanced application: group loading
  frontend/e2e/cypress/common.js
  frontend/e2e/cypress/integration/groupAssignmentIndicator.spec.js
  frontend/src/App.jsx
  frontend/src/components/RegistrationDetailsPage.jsx
  frontend/src/components/SprintsPage/SprintsDashboard.jsx
  frontend/src/components/TimeLogsPage/TimeLogsPage.jsx
Labels: frontend, enhancement

#283 add new user group 'student - no group' and change nav bar
  frontend/e2e/cypress/integration/menuItems.spec.js
  frontend/src/components/common/MenuItemLists.js
  frontend/src/components/common/NavigationBar.jsx
Labels: user story

#288 Feat/timelog filtering
  backend/controllers/configurations.js
  backend/controllers/groups.js
  backend/controllers/login.js
  backend/controllers/timeLogs.js
  backend/controllers/users.js
  backend/middleware.js
  frontend/src/App.jsx
  frontend/src/components/TimeLogsPage/InstructorTimeLogsPage.jsx
  frontend/src/components/TimeLogsPage/TimeLogsSelectForm.jsx
  frontend/src/components/common/MenuItemLists.js
Labels: user story, frontend, enhancement, backend

#290 Fix: peer reviews show incorrectly in instructor page
  backend/seeders/20240319143908-add-review-question-set.js
  frontend/src/components/InstructorPage/StudentViewGroupAnswers.jsx
  frontend/src/components/PeerReviewPage.jsx
  frontend/src/components/RegistrationDetailsPage.jsx
  frontend/src/utils/functions.js
Labels: frontend

#291 Update instructor page styles
  frontend/e2e/cypress/integration/instructorPage.spec.js
  frontend/src/components/InstructorPage/InstructorPage.css
  frontend/src/components/InstructorPage/InstructorPage.jsx
  frontend/src/components/InstructorPage/StudentViewGroupAnswers.jsx
Labels: frontend

#296 Enhance/timelogs chart updates
  frontend/src/components/TimeLogsPage/TimeLogChart.jsx
  frontend/src/components/TimeLogsPage/TimeLogsPage.jsx
Labels: frontend, enhancement
