Repository Ohtuilmo/ohtuilmo, pull requests merged in 2025-06, with the labels that each got.

#311 feature: filter time logs per sprint for instructor
  frontend/src/components/TimeLogsPage/InstructorTimeLogsPage.jsx
Labels: frontend, enhancement

#314 fix: pudotusvalikkojen ylimpiä vaihtoehtoja ei ohjaajan time log -sivulla pysty aina valitsemaan
  frontend/src/components/TimeLogsPage/TimeLogsSelectForm.jsx
Labels: frontend, bug

#319 feature: ohjaajan arviointisivun alakohdat klikkaamalla piilotettaviksi/näytettäviksi
  frontend/src/components/InstructorReviewPage.jsx
Labels: frontend, enhancement

#320 feature: time logien siirtäminen sprinttien välillä
  backend/controllers/instructorTimeLogs.js
  frontend/src/components/TimeLogsPage/InstructorTimeLogsPage.jsx
  frontend/src/components/TimeLogsPage/TimeLogRow.jsx
  frontend/src/components/TimeLogsPage/TimeLogsPage.jsx
  frontend/src/index.css
  frontend/src/services/instructorTimeLogs.js
Labels: frontend, backend, new feature

#321 Fix: ohjaaja ei pysty poistamaan time logeja
  backend/controllers/instructorTimeLogs.js
  frontend/src/components/TimeLogsPage/InstructorTimeLogsPage.jsx
  frontend/src/services/instructorTimeLogs.js
Labels: frontend, bug, backend
